<Files "sw.js">
  Header set Cache-Control "no-cache, no-store, must-revalidate"
</Files>

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.horarium\.us$ [NC]
RewriteRule ^ https://horarium.us%{REQUEST_URI} [R=301,L]
RewriteRule ^vendor/ - [F,L]
RewriteRule ^composer\.(json|lock)$ - [F,L]
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
